<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="currentNavigationViewItem" value="MyShop.View.DashboardPage"/>
		<add key="Theme" value="Light"/>
		<add key="Username" value=""/>
		<add key="Password" value=""/>
		<add key="Uri" value=""/>
		<add key="Entropy" value=""/>
	</appSettings>
</configuration>
